/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Header Styles */
header {
    background-color: #EA3680;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Hero Section */
.hero-section {
    padding: 10px 0;
    /* background-color: #f7f7f7; */
}

.hero-section h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 30px;
}

/* Terms Content Styles */
.terms-content {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.terms-content h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.terms-content h3 {
    font-size: 24px;
    margin-top: 20px;
}

.terms-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer p {
    margin: 0;
}